@tailwind base;
@tailwind components;
@tailwind utilities;

.isActive {
  border-bottom: 8px solid white;
  padding-bottom: 0px;
}

.background {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(45deg, #5cf3ff 0, #5cf3ff 1px, #e5e5f7 0, #e5e5f7 50%);
}

.focus-item-blue:focus {
  background-color: #60a5fa;
}

b{
  color: rgba(255, 132, 0, 0.872);
}

.btn {
  @apply bg-white text-gray-600 font-bold text-sm px-2 py-2 rounded-md hover:bg-opacity-100 hover:bg-opacity-70 duration-300;
}

.shadow-page-hover:hover {
  box-shadow: 0 0 10px 2px rgb(28, 161, 168); 
}

.shadow-page {
  box-shadow: 0 0 10px 2px rgb(28, 161, 168); 
}

.slick-slider {
  width: 105%; 
}

.slick-list {
  margin-right: 10px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #333;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

.slider-container {
  min-width: 300px;
  width: 75%; 
  margin: 0px auto;
  padding-bottom: 10px; 
}

.dots-slider {
  width: 60%;
  margin: 0 auto;
}
